@font-face {
    font-family: 'Kitab';
    src: url('/assets/fonts/Kitab-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'StackSansNotch';
    src: url('/assets/fonts/StackSansNotch-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alshohadaa';
    src: url('/assets/fonts/alshohadaa.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
body {
    margin: 0;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Noto Sans', sans-serif;
    background: #242424;
    color: #fff;
    line-height: 1.5;
}
html {
    overflow-x: hidden;
}
.content {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}
.arabic {
    font-family: 'Alshohadaa', serif;
    font-size: 72px;
    text-align: center;
    margin: 0;
}
h1 {
    font-family: 'StackSansNotch', sans-serif;
    font-size: 2rem;
    margin: 4px 0 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
select, input { font-size: 16px; padding: 6px 12px; margin: 5px; }
.verse { margin-bottom: 15px; border-bottom: 1px solid #ccc; padding-bottom: 5px; }
.arabic-text {
    font-family: 'Kitab', 'Noto Naskh Arabic', serif;
    font-size: 32px;
    font-weight: 700;
    margin: 5px 0;
    text-align: right;
}
.english-text { font-size: 16px; margin-bottom: 10px; text-align: left; }
.verse-number { font-size: 12px; font-weight: bold; color: #cacaca; margin-bottom: 5px; text-align: center; }
.loading { font-size: 18px; font-weight: bold; text-align: center; margin: 30px 0; }
mark { background-color: yellow; }


@media(max-width:800px){
    .arabic-text{font-size:25px;}
    .english-text{font-size:14px;}
    .controls select,.controls input{font-size:14px;}
    .arabic{font-size:48px;}
    .btn{font-size:14px; padding:8px 12px;}
    .opennewtab{display: none;}
    #printBtn{display: none;}
}

/* Yazdırma Modu */
@media print {
    .controls,
    #navigationButtons,
    h1,
    .arabic {
        display: none !important;
    }
    body { margin: 20px; }
}
.topbar {
    width: 100%;
    color: #fff;
    background: #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.15);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    margin-left: -10px;
    white-space: wrap;
    display: inline-block;
}

.topbar input, .topbar select {
    background-color: #242424;
    color: #fff;
    border: none;
    border-bottom: 2px #fff solid;
}

.topbar input:focus, .topbar select:focus {
    outline: none !important;
}